header {
    text-shadow: rgb(201, 22, 111) 2px 1px;
    background: linear-gradient(to bottom, rgb(238, 240, 241), rgb(221, 195, 195));
    border-bottom: 4px solid rgb(223, 14, 171);
    margin: 0;
    padding-bottom: 1.5em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


ul#NavigationBar{
    font-size: x-large;
    background: rgb(235, 229, 229);
    border-bottom: 4px solid rgb(173, 37, 37);
    text-align: center;
    height: 60px;
}

ul#NavigationBar li{
    display: inline;
}


a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    width: 1500px;
    border: 4px solid rgb(206, 64, 135);
    box-shadow: black;
    margin: auto;
    
}

p{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1em;
    font-size: 200%;
    font-style: initial;
    color: rgb(10, 0, 0);
}


ol {
    font-size: x-large;
    display: flexbox;
    justify-content: center;
    padding-top: 0.5em;
    margin: 0;
}

ul li {
    color: rgb(107, 39, 81);
    font-weight: bold;
    text-align: center;
    width: fit-content;
    padding: 0.5em;
    padding-bottom: 1em;
    margin: 0 1em;
    height: 1em;
    cursor: pointer;
}

.new ul li:hover ul {
    opacity: 1;
}

.new ul li ul li:hover {
    background-color: rgb(173, 28, 149);
}

.new ul li a {
    width: 100%;
    list-style: none;
    color: white;
    padding: 0.5em;
    cursor: pointer;
}

h1 {
    font-size: 60px;
    margin: 0;
    color: rgb(14, 12, 14);
    font-style: italic;
}

h2 {
    color: rgb(209, 28, 128);
    font-size: 40px;
    font-style: italic;
    margin: 0.5em 0;
}

h3 {
    color: rgb(228, 19, 148);
    font-size: 40px;
    font-style: italic;
    margin: 0.5em 0;
}

h4 {
    color: rgb(228, 19, 148);
    font-size: 40px;
    font-style: italic;
    margin: 0.5em 0;
    margin-left: 27%;
}



iframe{
    margin-left: 20%;
}

table {
    table-layout: auto;
    border: 3px solid rgb(180, 9, 95);
    size: 20ch;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
  }
  
td {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgb(209, 10, 103);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

a {
    color: rgb(2, 10, 10);
}

a:hover {
    color: rgb(8, 8, 14);
}

ul a {
    font-weight: bold;
    color: rgb(1, 8, 0);
}

#leftdiv {
    margin-left: 2em;
    float: left;
    width: 282px;
}

#sidebar ul {
    padding-left: 1em;
}

section {
    margin-left: 345px;
    width: 550px;
    height: 90em;
}

main {
    column-count: 2;
}

ul a:hover {
    color: rgb(207, 32, 32);
}

li {
    margin-bottom: 10px;
}

footer {
    background: rgb(160, 80, 126);
    height: 130px;
    width: auto;
    float: center;
    text-align: center;
    margin: 0 0 0 0;
    font-size: large;
    text-decoration-color: rgb(235, 229, 229);
}

footer p {
    padding-top: 1.25em;
}

#form1{
    margin-left: 200px;
}

#azna {
    margin-left: 430px;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 900px;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #form1{
    font-size: xx-large;
    font-style: italic;
  }

  #panel, #flip {
    padding: 5px;
    text-align: center;
    font-size: 30px;
    background-color: #c77ab2;
    border: solid 1px #b25c95;
  }
  
  #panel {
    padding: 50px;
    display: none;
  }  